body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e4/Dlp_adventureland.jpg');
    background-position: center;
    background-repeat: none;
    background size: cover;
    filter: blur(2px);
    position: absolute;
    z-index: -1;
}

.text {
    font-size: 25px;
    color: salmon;
    position: absolute;
}

.home {
    top: 10px;
    font-size: 25px;
    color: white;
    position: absolute;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
